@model Area1.Models.Login

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <h2 class="text-center">Welcome back, @Model.firstName</h2>
    </div>
    <div class="text-center">
        <ul>
            <li>@Html.ActionLink("Upload Archives Documents", "DocumentsCreate", "Documents", new { CatID = 1 }, null)</li>
            <li>@Html.ActionLink("View Archives", "DocumentsIndex", "Documents", new { CatID = 1 }, null)</li>
        </ul>
    </div>
</body>
</html>
