@model Area1.Models.Login

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div> 
        <h2 class="text-center">Welcome back, @Model.firstName</h2>
    </div>
</body>
</html>
